// colors
$defaultMenu: #FBFBFB;
$mainBackground: #E4F5FF;

$blackRock: #252934;
$raven: #6C7179;
$white: #FFFFFF;
$royalBlue: #2877E1;
$dodgerBlue: #1E7CFA;
$patternsBlue: #FAFBFD;

$prospecting: #EB6940;
$leadGeneration: #15BB7F;
$socialMedia: #EE9A1B;
$realEstateGuides: #4068E1;
$howTo: #28B3DF;
$marketingTips: #6A40E1;
$marketingTipsSub: #404040;


//font
$mainFont: Avenir;

  //screens
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';
$projector: 'min-width: 1200px';

